.photo {
    position: relative;
}

.delete-button {
    position: absolute;
    bottom: 10px;
    right: 0px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.photo:hover .delete-button {
    opacity: 1;
}

.layout {
    display: grid;
    gap: 10px;
    margin-bottom: 10px;
}

.layout0 {
    grid-template-rows: 1fr;

    &__img {
        clip-path: circle();
        aspect-ratio: 1/1;
        width: 100% !important;
    }
}

.layout1 {
    grid-template-columns: 1fr 1fr;

    &__img {
        height: 100%;
        object-fit: cover;
        aspect-ratio: 9/12;
    }
}

.layout2 {
    grid-template-columns: 1fr 1fr;

    &__img {
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
    }
}

.layout3 {
    grid-template-rows: 1fr;

    &__img {
        aspect-ratio: 1/1;
        object-fit: cover;
        width: 100% !important;
        height: 100% !important;
    }
}

.layout4 {
    grid-template-rows: 1fr 1fr;

    &__img {
        aspect-ratio: 16/9;
        object-fit: cover;
        width: 100% !important;
        height: 100% !important;
    }
}

.layout5 {
    grid-template-columns: 1fr 1fr;

    &__img-circle {
        clip-path: circle();
        aspect-ratio: 1/1;
        height: 100% !important;
    }

    &__img-square {
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

.layout6 {
    grid-template-columns: 1fr 2fr;

    &__left {
        display: flex;
        flex-flow: column;
        gap: 10px;
    }

    &__right {}

    &__img {
        aspect-ratio: 17/14;
        object-fit: cover;
        width: 100% !important;
    }
}

.layout7 {
    &__top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;

        &__img {
            aspect-ratio: 16/9;
            object-fit: cover;
            width: 100%;
        }
    }
}

.layout8 {
    grid-template-columns: 2fr 1fr;

    &__right {
        display: flex;
        flex-flow: column;
        gap: 10px;
    }

    &__img {
        aspect-ratio: 17/14;
        object-fit: cover;
        width: 100% !important;
    }
}